.header{
    height: 80vh;
}
.header img{
    width: 100%;
     object-fit: cover;
     height: 100%;
    border-radius: 15px;
   box-shadow: -2px 5px 21px 5px rgba(0,0,0,0.65);
}
.title-image{
 position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 40px;
  color: white;
}
.title{
    text-align: center;
    font-weight: 700;
    color: #e7a84a;
    font-size: 25px;
    margin-top: 15px;
    direction: rtl;
}
.description{
text-align: center;
    font-weight: 400;
    color: black;
    font-size: 18px;
    padding: 15px;
    direction: rtl;

}
