body {
  margin: 0;

}
h3,p,a,h1,li,span,h1,h2,input::placeholder,input,label,button,div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
